body {
    background-image: url("../images/fibreoptique.jpg");
    background-size: 100%;
}


#bannière{
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    height: 175px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rubrique{
    margin-top: 0%;

}

.rubrique img {
    width: 12%;
}

.Accueil{
    border: 0px solid black;
    background-color: rgba(0, 0, 68, 0.411);
    color: whitesmoke;
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cestquoi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    color: whitesmoke;

}

.titretech{
    border: 0px solid;
    background-color: rgba(0, 0, 68, 0.205);
    color: rgb(255, 255, 255);
    font-size: 140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#listetech{
    border: 0px solid;
    background-color: rgba(0, 0, 68, 0.555);
    color: whitesmoke;
    font-size: 140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.imgFTTH{
    width: 500px ;
}

.imgFTTLA{
    width: 500px;
}

.imgFTTB{
    width: 135%;
    margin-left: 10%;
}

.imgFTTO{
    width: 90%;
}

.titreproto{
    border: 0px solid;
    background-color: rgba(0, 0, 68, 0.411);
    color: rgb(255, 255, 255);
    font-size: 140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

#listeproto{
    border: 0px solid;
    background-color: rgba(0, 0, 68, 0.411);
    color: rgb(255, 255, 255);
    font-size: 140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}